@import 'flexbox'

$marginSize: 32px
$breakpoint-medium: 1024px
$breakpoint-small: 800px
$breakpoint-xsmall: 500px

$background-color: #{'{{ theme.background_color }}'}
$header-background-color: #{'{{ theme.header_color }}'}
$header-link-color: #{'{{ theme.header_link_color }}'}
$header-link-hover: #{'{{ theme.header_link_hover }}'}
$welcome-text-color: #{'{{ theme.welcome_text_color }}'}
$text-color: #{'{{ theme.text_color }}'}
$link-color: #{'{{ theme.link_color }}'}
$link-hover-color: #{'{{ theme.link_hover }}'}
$border-color: #{'{{ theme.border_color }}'}
$error-color: #{'{{ theme.error_color }}'}

$button-text-color: #{'{{ theme.button_text_color }}'}
$button-background-color: #{'{{ theme.button_background_color }}'}
$button-background-hover-color: #{'{{ theme.button_background_hover_color }}'}

$header-font: #{"{{ theme.header_font }}"}
$text-font: #{"{{ theme.text_font }}"}