$highlight:     #01a7c5
$primary:       #000000
$secondary:     #465459
$tertiary:      #0d0f1e
$error:         #f27718
$black_5:       shade(white, 5%)
$black_10:      shade(white, 10%)
$black_20:      shade(white, 20%)
$black_40:      shade(white, 40%)
$black_50:      shade(white, 50%)
$black_80:      shade(white, 80%)
$black_90:      shade(white, 90%)
$black_95:      shade(white, 95%)

$link:          $black_40
$link_hover:    $primary

$marginSize: 32px
$border: 2px solid $black_10
$border_hover: 2px solid $primary

