#contact
  .content
    max-width: 664px
    padding-left: $marginSize
    padding-right: $marginSize

    @media only screen and (max-width:$breakpoint-small)
      padding-left: $marginSize/2
      padding-right: $marginSize/2

    h1
      margin: 0 auto $marginSize * 2 auto

.contact-form-block
  display: block
  margin: $marginSize auto
  position: relative

  input, textarea
    height: 50px
    width: 100%

  textarea
    height: 256px

.contact-label
  display: block
  margin-bottom: $marginSize / 4

.send-message-button
  display: block
  margin: $marginSize * 2 auto
  max-width: 320px

  @media screen and (max-width: $breakpoint-small)
    margin-top: $marginSize
    max-width: 100%

.recaptcha-note
  +font-size(14)
  margin-top: 16px

  a
    text-decoration: underline