@import 'config'

// Global
*
  box-sizing: border-box

html, body
  height: 100%

body
  background: #{"{{ theme.background_color }}"}
  color: #{"{{ theme.text_color }}"}
  font: normal 100%/1.5 $text-font
  -webkit-font-smoothing: antialiased

hr
  background-color: 1px solid #{"{{ theme.border_color }}"}
  border-style: none
  border: none
  height: 1px
  margin: 16px 0
  padding: 0
  width: 100%

// CSS3 Global Animation

header
  +transition(background .5s ease-in)

  a
    +transition(color .25s ease-in-out)

    &:after
      +transition(background .25s ease-in-out)

  svg
    +transition(fill .25s ease-in-out)

// Links

a
  color: #{"{{ theme.link_color }}"}
  text-decoration: none

a:hover
  color: #{"{{ theme.link_hover }}"}


// Buttons

.button, submit, input[type='submit'], button
  +border-radius(0)
  +font-size(16)
  +transition(background .2s ease-in-out)
  background-color: $button-background-color
  border: none
  color: $button-text-color
  display: inline-block
  font-weight: 600
  height: 56px
  line-height: 56px
  margin: 0
  padding: 0 $marginSize/2
  text-align: center
  white-space: nowrap
  width: 100%

  &.minimal-button
    background: none
    color: #{"{{ theme.text_color }}"}
    border: none
    font-size: 13px
    padding: 0
    width: auto

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      +transform(none)
      box-shadow: none
      background: none
      text-decoration: underline

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
    background-color: $button-background-hover-color

  &:disabled, &.disabled
    cursor: not-allowed
    opacity: .6

// Typography

a[href], label[for], select, button, .pointer
  cursor: pointer

form, input, textarea, submit, input[type='submit'], input[type='text'], button, select
  font-family: $text-font
  +font-size(16)
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-appearance: none
  -moz-appearance:    none
  appearance:         none

input[type='text'], input[type='textarea'], textarea
  +border-radius(0)
  +font-size(16)
  background-color: rgba(white, 0)
  border: 1px solid #{"{{ theme.link_color }}"}
  color: #{"{{ theme.link_color }}"}
  margin: 0
  white-space: nowrap
  text-indent: 16px

  &:focus, &:hover
    border: 1px solid #{"{{ theme.link_hover }}"}
    color: #{"{{ theme.link_hover }}"}

input[type='textarea'], textarea
  padding: 16px
  text-indent: 0px
  white-space: normal

.select
  border: 1px solid #{"{{ theme.link_color }}"}
  color: #{"{{ theme.link_color }}"}
  margin-bottom: 16px
  position: relative

  &:hover, &:focus, &:focus-within
    background-color: #{"{{ theme.link_hover }}"}
    border: 1px solid #{"{{ theme.link_hover }}"}
    color: #{"{{ theme.background_color }}"}

    select
      color: #{"{{ theme.background_color }}"}

    svg
      fill: #{"{{ theme.background_color }}"}

  select
    background: none
    border: 0px
    border-radius: 0px
    color: #{"{{ theme.link_color }}"}
    font-weight: 600
    height: 56px
    line-height: 56px
    padding: 0 55px 0 12px
    position: relative
    width: 100%
    z-index: 2

    option
      color: #000
      background: #FFF

    &:focus
      outline: none

    &::-ms-expand
      display: none

  svg
    fill: #{"{{ theme.link_color }}"}
    height: 14px
    position: absolute
    right: 24px
    top: 50%
    transform: translateY(-50%)
    width: 14px
    z-index: 1

h1, h2, h3, h4, h5, h6, strong
  font-family: $header-font
  text-transform: uppercase
  letter-spacing: .2em
  text-indent: .2em

  @media only screen and (max-width:$breakpoint-small)
    letter-spacing: .1em
    text-indent: .1em
    white-space: normal

strong
  letter-spacing: .125em
  text-indent: 0

cite
  font-style: normal

// Headers

h1
  +font-size(28)

h2
  +font-size(24)

h3
  +font-size(20)

h4
  +font-size(16)

h5
  +font-size(12)

h6
  +font-size(12)

// Errors

.errors
  background: #{"{{ theme.error_color }}"}
  color: #{"{{ theme.background_color }}"}
  list-style-type: none
  text-align: center
  padding: 16px

.standalone
  height: auto
  margin: 0 auto
  max-width: 500px
  padding-top: 120px
  text-align: center

  div
    padding: 0 $marginSize