@import 'compass'
@import 'config'
@import 'remfont'
@import 'verticalalign'

div.wrap
  height: 100%
  width: 100%

header
  +pie-clearfix
  font-family: #{"{{ theme.text_font | font_family }}"}
  font-weight: 600
  height: 88px
  position: relative
  width: 100%
  z-index: 99

  &.home
    position: fixed

    &:after
      +opacity(0)
      background-color: #{"{{ theme.header_color }}"}
      border-bottom: 1px solid #{"{{ theme.border_color }}"}
      content: " "
      display: block
      height: 100%
      height: 100%
      position: absolute
      width: 100%
      width: 100%
      z-index: 96

  &.overlay, &.page
    position: fixed

    &:after
      +opacity(1)
      background-color: #{"{{ theme.header_color }}"}
      border-bottom: 1px solid #{"{{ theme.border_color }}"}
      content: " "
      display: block
      height: 100%
      height: 100%
      position: absolute
      width: 100%
      width: 100%
      z-index: 96

    a
      position: relative
      color: #{"{{ theme.link_color }}"}

      &:hover
        color: #{"{{ theme.link_hover }}"}

  a
    position: relative
    color: #{"{{ theme.background_color }}"}
    clear: both

    &:after
      +opacity(0)
      background-color: #{"{{ theme.background_color }}"}
      content: " "
      display: block
      height: 1px
      position: absolute
      top: 24px
      left: 0
      width: 100%

    &:hover
      color: #{"{{ theme.background_color }}"}

      &:after
        +opacity(1)

  .logo
    +box-sizing(border-box)
    +font-size(24)
    display: inline
    font-family: #{"{{ theme.header_font | font_family }}"}
    left: 0
    line-height: 80px
    padding: 0 $marginSize
    position: absolute
    text-align: left
    top: 0
    white-space: nowrap
    z-index: 98

    &.image
      padding: $marginSize/2 $marginSize

      a

        &:after
          +opacity(0)

        img
          max-height: 44px
          width: auto

  .sections
    left: 0
    margin: 0 auto
    position: absolute
    top: 0
    width: 100%
    z-index: 97

  .utility
    position: absolute
    right: 0
    top: 0
    z-index: 99

.sections, .utility, .footernav
  display: inline

  ul
    display: inline-block
    margin: 0 auto
    padding: 0
    text-align: center
    white-space: nowrap
    width: 100%


    &.navigation
      @media only screen and (max-width: 740px)
        display: none

    li
      +font-size(14)
      display: inline-block
      line-height: 88px
      list-style: none
      padding: 0 $marginSize
      text-align: center

  .cart
    li
      padding: 0 32px 0 0

.slideshow
  display: block
  height: 100%
  margin: 0
  min-height: 640px
  overflow: hidden
  padding: 0
  position: relative
  width: 100%
  z-index: 1

  ul
    display: inline-block
    height: 100%
    margin: 0
    min-height: 640px
    padding: 0
    position: relative
    width: 100%

    li
      +background(url('./images/overlay_pattern.png') 0 0 repeat, url('http://images.cdn.bigcartel.com/bigcartel/theme_images/7824391/max_h-1000+max_w-1000/KC_140514_238.jpg') center no-repeat)
      background-size: 4px, cover
      display: inline-block
      height: 100%
      list-style: none
      min-height: 640px
      position: relative
      width: 100%

      &:before
        background-color: rgba(black, .3)
        content: " "
        display: block
        height: 100%
        position: absolute
        width: 100%

      div
        +vertical-align
        color: #{"{{ theme.background_color }}"}

        overflow: hidden
        position: relative
        text-align: center

        p
          +font-size(14)
          font-weight: 600
          line-height: 12px
          padding-top: 16px
          text-transform: uppercase

        h2
          +font-size(64)
          letter-spacing: .5em
          margin: 0 0 24px 0
          text-transform: uppercase
          @media only screen and (max-width:990px)
            +font-size(48)

        a
          border: 1px solid #{"{{ theme.background_color }}"}
          color: #{"{{ theme.background_color }}"}
          width: auto
          line-height: 56px

          &:hover
            border: 1px solid #{"{{ theme.background_color }}"}
            background-color: #{"{{ theme.background_color }}"}
            color: #{"{{ theme.text_color }}"}

#home .content
  padding: 64px 0 0 0

  h1
    margin-bottom: 16px

.content
  +pie-clearfix
  display: block
  margin: 0 auto
  padding: 144px 0 0 0
  position: relative
  width: 100%

  h1
    color: #{"{{ theme.text_color }}"}
    display: block
    margin: 0 auto
    text-align: center

  .subheader
    padding: 0 32px 32px 32px
    margin: 32px auto 0 auto

    p
      text-align: center
      max-width: 800px
      margin: 0 auto


footer
  +font-size(14)
  +pie-clearfix
  border-top: 1px solid #{"{{ theme.border_color }}"}
  display: block
  height: 88px
  line-height: 88px
  margin: 0 auto
  position: relative
  text-align: center
  width: 100%

  .footernav
    position: absolute
    right: $marginSize

    @media only screen and (max-width:$breakpoint-small)
      display: block
      line-height: 12px
      margin: 32px auto 16px auto
      position: relative
      right: 0

    ul
      display: inline-block
      margin: 0
      padding: 0
      white-space: nowrap

      li
        +font-size(14)
        display: inline-block
        list-style: none
        padding: 0 8px
        text-align: center

  cite
    color: #{"{{ theme.link_color }}"}
    position: absolute
    left: $marginSize
    white-space: nowrap

    @media only screen and (max-width:$breakpoint-small)
      display: block
      left: 0
      line-height: 15px
      margin: 0 auto
      padding-bottom: $marginSize
      position: relative
      white-space: normal




