@import 'config'

body.no-scroll
  overflow: hidden

.full-screen-overlay
  +transition(all .2s ease-in-out)
  background-color: rgba(black, .95)
  display: none
  height: 100%
  left: 0
  overflow-y: scroll
  padding: $marginSize * 3 $marginSize * 3
  position: fixed
  top: 0
  width: 100%
  z-index: 10000

  &.open
    display: block

button.close-overlay
  +flexbox
  +align-items(center)
  +justify-content(center)
  height: 44px
  padding: 0
  position: absolute
  right: 24px
  top: 24px
  width: 44px

  .close-icon
    display: block
    fill: #FFFFFF
    height: 18px
    width: 18px

#search-input
  border: 1px solid #ABABAB
  color: #FFFFFF
  display: block
  margin: 0 auto
  max-width: 600px
  width: 100%
  padding: 16px
  font-size: 18px
  text-indent: 0
  background: #222

  &:hover, &:focus
    border: 1px solid #FFFFFF

.mobile-navigation-list
  list-style: none
  margin: 0
  padding: 0
  text-align: center

  li
    display: block
    margin: 10px 0

  a
    color: #FFF
    display: block
    font-size: 16px
    line-height: 1.5em
    padding: 10px

    &:hover, &:focus
      text-decoration: underline