@import 'compass'
@import 'config'
@import 'remfont'
@import 'verticalalign'

.custom

  section.content
    +pie-clearfix
    box-sizing: border-box
    margin: 0 auto
    max-width: 1280px
    padding-left: $marginSize
    padding-right: $marginSize
    padding-bottom: 64px

    h1
      clear: both
      margin-bottom: 64px

    h4
      margin: 16px auto 32px auto
      padding: 0
      text-align: center

    p
      margin: 0 auto 16px auto
      width: 100%
      max-width: 800px

      img
        display: block
        margin: 0 auto
        text-align: center
        padding-bottom: 16px

    iframe
      display: block
      margin: 0 auto
      text-align: center

    br
      display: none