.categories
  +flexbox
  +align-items(center)
  +justify-content(center)
  +flex-wrap(wrap)
  gap: 4px
  margin: 0 auto
  max-width: 960px
  text-align: center
  padding: 0

  li
    display: inline-block
    white-space: nowrap

    a
      display: inline-block
      padding: 2px 8px

      &:hover
        text-decoration: underline
        text-underline-offset: 3px

    &:after
      content: '/'
      display: inline-block
      padding: 0 2px

    &:last-child:after
      content: ''
      padding: 0

.product-list-container
  margin: 0 6%

  @media screen and (max-width: $breakpoint-medium)
    margin: 0 32px

  @media screen and (max-width: $breakpoint-small)
    margin: 0 24px

.product-list
  +flexbox
  +flex-wrap(wrap)
  +justify-content(flex-start)
  margin: 0 -3%

  &.justify-center
    +justify-content(center)

  @media screen and (max-width: $breakpoint-medium)
    margin: 0 -24px

  @media screen and (max-width: $breakpoint-small)
    margin: 0 -16px

.product-list-thumb
  color: var(--link-color)
  display: block
  font-size: 0
  padding: 16px 3%
  padding-bottom: $marginSize
  position: relative
  text-align: center
  vertical-align: middle
  --columns: #{"{{ theme.max_products_per_row }}"}
  width: calc(100% / var(--columns))
  word-break: break-word

  @media screen and (max-width: $breakpoint-small)
    padding: 8px

  @media screen and (max-width: $breakpoint-xsmall)
    padding: 16px
    padding-bottom: $marginSize
    --columns: #{"{{ theme.max_products_per_row_mobile }}"}

.product-list-link
  +transition(color .2s ease)
  color: var(--link-color)
  text-decoration: none

  &:hover, &:focus
    color: var(--link-hover-color)
    text-decoration: none

    .product-list-thumb-name, .product-list-thumb-price
      color: var(--link-hover-color)

.product-list-image-container
  overflow: hidden
  position: relative

  &.product-list-image-container-default:before
    display: none

  &:before
    display: block
    width: 100%
    content: ""
    padding-bottom: 100%
    height: 0

.product-list-image
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%

  &.grid-default
    position: relative

  &.grid-cover
    object-fit: cover

  &.grid-contain
    object-fit: contain

.product-list-thumb-info
  font-size: 16px
  line-height: 1.25em
  padding: 16px 0
  position: relative

.product-list-thumb-name
  +transition(color .2s ease)
  color: var(--link-color)
  font-weight: bold
  overflow-wrap: break-word
  position: relative

.product-list-thumb-price
  +transition(color .2s ease)
  color: var(--text-color)
  margin-top: 12px

.price-suffix
  white-space: nowrap

.product-list-thumb-status
  display: inline-block
  font-weight: normal
  margin-top: 4px

  &.status-primary
    color: var(--product-status-text-color-primary)

  &.status-secondary
    color: var(--product-status-text-color-secondary)

.product-list-thumb-status,
.product-list-thumb-options-description
  margin-top: 4px

.pagination
  +flexbox
  +flex-direction(row)
  +justify-content(space-between)
  +align-items(center)
  border-top: 1px solid var(--border-color)
  font-family: var(--header-font)
  line-height: 40px
  margin: 0 auto $marginSize auto
  max-width: 640px
  padding-top: $marginSize
  text-transform: uppercase

  @media screen and (max-width: $breakpoint-medium)
    font-size: 15px
    padding: $marginSize / 2

@media screen and (min-width: $breakpoint-xsmall+1)
  .pagination-caption
    display: none

.page-numbers
  +flexbox
  +flex-wrap(wrap)
  +justify-content(center)
  margin: 0 20px

  @media screen and (max-width: $breakpoint-xsmall)
    display: none

  .previous, .next
    display: none

  > a, > span
    +flexbox
    +align-items(center)
    +justify-content(center)
    background: var(--background-color)
    border-radius: 0
    border: 1px solid transparent
    color: var(--link-color)
    text-align: center
    height: 40px
    margin-right: 8px
    order: 1
    position: relative
    text-decoration: none
    width: 40px

    &.current
      border: 1px solid var(--link-hover-color)
      color: var(--link-hover-color)

    &.disabled
      cursor: not-allowed
      opacity: .4

  > a
    &:hover, &:focus
      color: var(--link-hover-color)
      text-decoration: underline
      text-underline-offset: 3px

.page-link
  +flexbox
  +align-items(center)
  color: var(--link-color)
  line-height: 40px
  text-align: center
  height: 40px
  padding: 0
  position: relative
  text-decoration: none

  &:not(.disabled):hover, &:not(.disabled):focus
    background: none
    color: var(--link-hover-color)
    text-decoration: underline
    text-underline-offset: 3px

    svg
      fill: var(--link-hover-color)

  &.next-page-link

    span
      margin-right: 5px

  &.previous-page-link

    span
      margin-left: 5px

    svg
      +transform(rotate(-180deg))

  &.disabled
    cursor: not-allowed
    opacity: 0
    visibility: hidden

  svg
    display: block
    fill: var(--link-color)
    height: 12px
    width: 12px

.no_results
  text-align: center
  margin-bottom: 128px
