#product .content
  max-width: 1200px

.product-container
  +pie-clearfix
  padding-left: $marginSize
  padding-right: $marginSize

  @media screen and (max-width: $breakpoint-small)
    padding-left: $marginSize / 2
    padding-right: $marginSize / 2

  h1
    margin-bottom: 16px

  .product-subheader
    +font-size(20)
    font-weight: bold
    font-family: var(--header-font)
    text-transform: uppercase
    letter-spacing: .2em
    text-indent: .2em
    margin: 16px auto 64px auto
    padding: 0
    text-align: center

    @media only screen and (max-width:$breakpoint-small)
      margin: 16px auto 16px auto

    em
      font-style: normal
      color: var(--link-color)

.product-details
  +font-size(16)
  float: right
  margin: 0 0 64px
  padding-left: $marginSize
  width: 38%
  text-align: left

  @media screen and (max-width: $breakpoint-medium)
    width: 45%

  @media only screen and (max-width:$breakpoint-small)
    float: none
    margin-bottom: $marginSize
    padding-left: 0
    width: 100%

.product-description
  a
    text-decoration: underline

  p
    margin: revert

  &>:first-child
    margin-top: 0

  &>:last-child
    margin-bottom: 0

  ol, ul
    margin: 1em

  ul
    list-style: disc

  ol
    list-style: decimal

.product-availability
  margin: 0 0 $marginSize/2 0
  padding: 0

  &--option
    +font-size(14)
    border: 1px solid var(--border-color)
    border-width: 1px 1px 0 1px
    height: 48px
    display: flex
    gap: 16px
    align-items: center
    justify-content: flex-start
    padding: 8px 12px
    position: relative
    width: 100%

    &:last-child
      border-width: 1px

  &--bar
    position: absolute
    top: 0
    left: 0
    height: 100%
    background: #{"rgba(var(--text-color-rgb),.08)"}
    pointer-events: none
    opacity: .5
    z-index: 1

  &--option-name
    z-index: 2
    color: var(--text-color)

  .sold_out_text
    margin-left: auto

ul.product-share-buttons
  margin: 0

.product-artists
  font-family: var(--header-font)
  letter-spacing: .1em
  text-transform: uppercase
  margin: $marginSize 0

  a
    font-weight: bold

.product-images
  float: left
  margin: 0 0 $marginSize 0
  width: 60%

  @media screen and (max-width: $breakpoint-medium)
    width: 55%

  @media only screen and (max-width:$breakpoint-small)
    float: none
    margin-bottom: $marginSize
    width: 100%

.product-section-subheader
  border-bottom: 1px solid var(--border-color)
  margin: $marginSize auto $marginSize / 2
  padding: $marginSize / 2 0
  text-align: center
  text-transform: uppercase
  font-family: var(--header-font)
  font-weight: bold
  letter-spacing: .2em

.share-pinterest

  a
    cursor: pointer
    display: inline-block
    position: relative

    &:after
      content: ""
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0

.reset-selection-button-container
  text-align: center
  width: 100%

button.reset-selection-button
  display: none
  height: auto
  max-width: 100%
  line-height: normal
  margin: 20px auto 0
  padding: 4px

option[disabled-type="unavailable"]
  display: none

.product-form
  margin-bottom: $marginSize * 1.5

  &.show-sold-out
    option[disabled-type="sold-out"]
      display: block

  &.hide-sold-out
    option[disabled-type="sold-out"]
      display: none

#instant-checkout-button
  margin-top: 12px