@import 'config'

.categories
  margin: 0 auto
  max-width: 960px
  text-align: center
  padding: 0

  li
    display: inline-block
    height: 16px
    white-space: nowrap

    a:hover, a:focus
      text-decoration: underline

    &:after
      content: '/'
      display: inline-block
      padding: 0 8px

    &:last-child:after
      content: ''
      padding: 0

.product-list-container
  margin: 0 6%

  @media screen and (max-width: $breakpoint-medium)
    margin: 0 32px

  @media screen and (max-width: $breakpoint-small)
    margin: 0 16px

.product-list
  +flexbox
  +flex-wrap(wrap)
  +justify-content(flex-start)
  margin: 0 -3%

  @media screen and (max-width: $breakpoint-medium)
    margin: 0 -24px

  @media screen and (max-width: $breakpoint-small)
    margin: 0 -16px

.product-list-thumb
  color: $link-color
  display: block
  font-size: 0
  padding: 16px 3%
  padding-bottom: $marginSize * 2
  position: relative
  text-align: center
  vertical-align: middle
  width: calc(100% / 3)
  word-break: break-word

  @media screen and (max-width: $breakpoint-medium)
    padding: 16px 32px
    padding-bottom: $marginSize
    width: calc(100% / 2)

  @media screen and (max-width: $breakpoint-small)
    padding: 16px
    padding-bottom: $marginSize

  @media screen and (max-width: $breakpoint-xsmall)
    padding: 16px
    width: 100%

_:-ms-fullscreen, :root .product-list-thumb
  width: calc(100% / 3 - .1px)

  @media screen and (max-width: $breakpoint-medium)
    width: calc(100% / 2 - .1px)

  @media screen and (max-width: $breakpoint-small)

  @media screen and (max-width: $breakpoint-xsmall)
    padding: 10px
    width: 100%

.product-list-link
  +transition(color .2s ease)
  color: $link-color
  text-decoration: none

  &:hover, &:focus
    color: $link-hover-color
    text-decoration: none

    .product-list-thumb-name, .product-list-thumb-price
      color: $link-hover-color

.product-list-image-container
  overflow: hidden
  position: relative

  &.product-list-image-container-default:before
    display: none

  &:before
    display: block
    width: 100%
    content: ""
    padding-bottom: 100%
    height: 0

.product-list-image
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%

  &.grid-default
    position: relative

  &.grid-cover
    object-fit: cover

  &.grid-contain
    object-fit: contain

.product-list-thumb-info
  font-size: 16px
  line-height: 1.25em
  padding: 16px 0
  position: relative

.product-list-thumb-name
  +transition(color .2s ease)
  color: $link-color
  overflow-wrap: break-word
  position: relative

.product-list-thumb-price
  +transition(color .2s ease)
  color: $text-color
  font-size: 15px
  margin-top: 6px

.product-list-thumb-status
  color: $link-color
  display: inline-block
  font-style: italic
  font-weight: normal

.pagination
  +flexbox
  +flex-direction(row)
  +justify-content(space-between)
  +align-items(center)
  border-top: 1px solid $border-color
  font-family: $header-font
  line-height: 40px
  margin: 0 auto $marginSize auto
  max-width: 640px
  padding-top: $marginSize
  text-transform: uppercase

  @media screen and (max-width: $breakpoint-medium)
    font-size: 15px

@media screen and (min-width: $breakpoint-xsmall+1)
  .pagination-caption
    display: none

.page-numbers
  +flexbox
  +flex-wrap(wrap)
  +justify-content(center)
  margin: 0 20px

  @media screen and (max-width: $breakpoint-xsmall)
    display: none

  .previous, .next
    display: none

  > a, > span
    +flexbox
    +align-items(center)
    +justify-content(center)
    background: $background-color
    border-radius: 0
    border: 1px solid transparent
    color: $link-color
    text-align: center
    height: 40px
    margin-right: 8px
    order: 1
    position: relative
    text-decoration: none
    width: 40px

    &.current
      border: 1px solid $link-hover-color
      color: $link-hover-color

    &.disabled
      cursor: not-allowed
      opacity: .4

  > a
    &:hover, &:focus
      color: $link-hover-color
      text-decoration: underline

.page-link
  +flexbox
  +align-items(center)
  color: $link-color
  line-height: 40px
  text-align: center
  height: 40px
  padding: 0
  position: relative
  text-decoration: none

  &:not(.disabled):hover, &:not(.disabled):focus
    background: none
    color: $link-hover-color
    text-decoration: underline

    svg
      fill: $link-hover-color

  &.next-page-link

    span
      margin-right: 5px

  &.previous-page-link

    span
      margin-left: 5px

    svg
      +transform(rotate(-180deg))

  &.disabled
    cursor: not-allowed
    opacity: 0
    visibility: hidden

  svg
    display: block
    fill: $link-color
    height: 12px
    width: 12px

.no_results
  text-align: center
  margin-bottom: 128px
