@import 'compass'
@import 'config'
@import 'remfont'
@import 'verticalalign'

.search
  +transition(all .2s ease-in-out)
  background-color: rgba(black, .95)
  display: none
  height: 100%
  left: 0
  opacity: 0
  padding-top: 10%
  position: fixed
  top: 0
  visibility: hidden
  width: 100%
  z-index: 10000

  &.open
    display: block
    opacity: 1
    visibility: visible

  @media only screen and (max-width: $breakpoint-small)
    padding-top: 25%

  path
    fill: #FFF

  input
    border: none
    color: #fff
    display: block
    margin: 0 auto
    width: 80%
    padding: 15px
    background: #222
    font-size: 1.5em

    &:focus
      border: none
      color: #FFF

    &::-moz-placeholder
      color: #CCC

    &::-webkit-input-placeholder
      color: #CCC

    &:-ms-input-placeholder
      color: #CCC

  a
    position: fixed
    right: 65px
    top: 37px

    &:hover
      opacity: .6

    @media only screen and (max-width: $breakpoint-small)
      right: 15px
