.search
  background-color: rgba(black, .9)
  display: none
  height: 100%
  left: 0
  padding-top: 10%
  position: fixed
  top: 0
  width: 100%
  z-index: 10000

  input
    border: none
    color: #fff
    display: block
    margin: 0 auto
    width: 80%

    &:focus
      border: none

    &:-moz-placeholder
      padding-left: 15px

    &::-webkit-input-placeholder
      padding-left: 15px
