@import 'config'

.search-overlay
  +transition(all .2s ease-in-out)
  background-color: rgba(black, .95)
  display: none
  height: 100%
  left: 0
  opacity: 0
  padding: 15% 10%
  position: fixed
  top: 0
  visibility: hidden
  width: 100%
  z-index: 10000

  &.open
    display: block
    opacity: 1
    visibility: visible

  @media only screen and (max-width: $breakpoint-small)
    padding-top: 40%

button.close-search
  +flexbox
  +align-items(center)
  +justify-content(center)
  height: 44px
  padding: 0
  position: absolute
  right: 32px
  top: 32px
  width: 44px

.close-search-icon
  display: block
  fill: #FFFFFF
  height: 20px
  width: 20px

#search-input
  border: 1px solid #ABABAB
  color: #FFFFFF
  display: block
  margin: 0 auto
  max-width: 600px
  width: 100%
  padding: 15px
  background: #222
  font-size: 1.5em

  &:hover, &:focus
    border: 1px solid #FFFFFF
