<section class="content">
  {% if errors != blank %}
    <ul class="errors">
      {% for error in errors %}
        <li>{% if forloop.length != 1 %}&bull; {% endif %}{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if cart.items != blank %}

  <h1>Subtotal</h1>
  <h4>{{ cart.subtotal | money_with_sign }}</h4>

  <form method="post" action="/cart">
    <ul class="cart_details">
      {% for item in cart.items %}
      <li>
        <a href="{{ item.product.url }}" class="product_image">
          <img src="{{ item.product.image | product_image_url size:"medium" }}">
        </a>
        <div class="product_details">
          <a href="{{ item.product.url }}">
            {{ item.product.name }}
            {% unless item.product.has_default_option %}
              <em>{{ item.option.name }}</em>
            {% endunless %}
          </a>
        </div>
        <div class="product_actions">
          <div class="quantity">{{ item | item_quantity_input }}</div>
          <div class="price">{{ item.price | money_with_sign }}</div>
          <div class="remove"><a href="#" class="remove"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 10 10" xml:space="preserve"><path d="M7.924 6.51L5.45 4.035l2.475-2.475c0.196-0.195 0.196-0.512 0-0.707L7.217 0.1 c-0.195-0.195-0.512-0.195-0.707 0L4.036 2.621L1.561 0.146c-0.195-0.195-0.512-0.195-0.707 0L0.147 0.9 c-0.196 0.195-0.196 0.5 0 0.707l2.475 2.475L0.147 6.51c-0.196 0.195-0.196 0.5 0 0.707l0.707 0.7 c0.195 0.2 0.5 0.2 0.7 0l2.475-2.475L6.51 7.924c0.195 0.2 0.5 0.2 0.7 0l0.707-0.707 C8.121 7 8.1 6.7 7.9 6.51z"/></svg></a></div>
        </div>
      </li>
      {% endfor %}
    </ul>

  {% assign cartshippingenabled = 1 %}
  {% assign cartdiscountenabled = 1 %}
  {% assign cartshippingstrict = 1 %}
  {% assign cartdiscountpending = 1 %}
  {% if cartshippingenabled or cartdiscountenabled %}
  <section class="cart_options">
    <ul>
      {% if cartshippingenabled %}
        {% if cartshippingstrict %}
        <li class="cart_shipping">
          {% if cart.shipping.pending %}
            {% if cart.country %}
              <label for="country" class="not_set">Select a different country</label>
            {% else %}
              <label for="country">Shipping</label>
            {% endif %}
          {% else %}
            <label for="country">Shipping</label>
          {% endif %}
          
          <div class="select">
		  	{{ store.country | country_select }}
          </div>

          {% if cart.shipping.pending %}
            <h3 class="cart_pending">$0</h3> 
          {% else %}
            <h3>{{ cart.shipping.amount | money_with_sign }}</h3>
          {% endif %}
        </li>
        {% endif %}  
      {% endif %}
      
      {% if cartdiscountenabled %}
      <li class="cart_discount {% unless cartshippingstrict %}solo{% endunless %}">
        {% if cartdiscountpending %}
          <label id="cart_discount_label" for="cart_discount_code">Discount</label>
          {{ cart.discount | discount_code_input }}
          <h3 class="cart_pending">{{ store.currency.sign }}0</h3>
          
        {% elsif cart.discount.free_shipping %}
          <label for="cart_discount_code">Discount</label>        
          <p>{{ cart.discount.name }}</p>         
        {% else %}
          <label for="cart_discount_code">Discount</label>        
          <p>{{ cart.discount.name }}</p>
          <h3>-{{ cart.discount.amount | money_with_sign }}</h3>
        {% endif %}
      </li>
      {% endif %}
    </ul>   
  </section>
<button class="update-btn" name="update" type="submit" title="Update your cart total"><span>Update</span></button>    
  {% endif %} 


    <button type="submit" name="checkout" title="Checkout">Checkout</button>
  </form>

  {% else %}

  <div>
    <p><strong>Your cart is empty!</strong> Sounds like a good time to <a href="/">start shopping &rarr;</a></p>
  </div>

  {% endif %}

</section>
