<!DOCTYPE html>
  <head>
    <title>{{ store.name }} &mdash; {{ page.name }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>

    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}" class="{{ page.category }}">
  <div class="wrap">
    <header {% if page.permalink =='home' %}class="home"{% else %}class="page"{% endif %}>
      <div class="logo {% if theme.logo != blank %}image{% endif %}">
        {% if store.website != blank %}
        <a href="{{ store.website }}" title="{{ store.name | escape }}">
        {% else %}
        <a href="/" title="{{ store.name | escape }}">
        {% endif %}
          {% if theme.logo != blank %}
          <img src="{{ theme.logo.url }}" alt="{{ store.name }}">
          {% else %}
          {{ store.name }}
          {% endif %}
        </a>
      </div>
      <nav class="sections">
        <ul class="navigation">
          <li><a href="/products">{% if theme.collections %}Collections{% else %}Products{% endif %}</a></li>
          {% for page in pages.all limit:3 %}
          <li>{{ page | link_to }}</li>
          {% endfor %}
        </ul>
      </nav>
      <nav class="utility">
        <ul class="cart">
          {% if theme.show_search %}
            <li><a href="#search">Search</a></li>
          {% endif %}
          <li><a href="/cart">{{ cart.item_count | pluralize: 'item', 'items' }} / {{ cart.total | money_with_sign }}</a></li>
        </ul>
      </nav>
    </header>

    {% if page.category == 'custom' %}
      <section class="content">
      <h1>{{ page.name }}</h1>
      {{ page_content | paragraphs }}
      </section>
    {% else %}
      {{ page_content }}
    {% endif %}

    <footer>
      <nav class="footernav">
        <ul>
          <li>
          {% if store.website != blank %}
          <a href="{{ store.website }}" title="{{ store.name | escape }}">Home</a>
          {% else %}
          <a href="/" title="{{ store.name | escape }}">Home</a>
          {% endif %}
          </li>
          {% for page in pages.all offset:3 %}
          <li>{{ page | link_to }}</li>
          {% endfor %}
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <cite><span class="badge">{{ bigcartel_credit }}</span></cite>
    </footer>

    {% if theme.show_search %}
      <form action="/products" method="get" class="search">
        <input type="text" name="search" id="search" placeholder="Search products…">
      </form>
    {% endif %}


  </div>
</body>
</html>
