<section class="content">
  <h1>
    {% if page.full_url contains "search=" %}
      Product Search
    {% elsif theme.collections and page.name == 'Products' %}
      Collections
    {% else %}
      {{ page.name }}
    {% endif %}
  </h1>

  {% if page.full_url contains "search=" or theme.collections != true or page.name != 'Products' %}

    <!-- Products -->

    {% unless page.full_url contains "search=" %}
      <div class="subheader">
        <ul class="categories">
        {% for category in categories.active %}
          <li class="page {% if page.full_url contains category.url %}selected{% endif %}">{{ category | link_to }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endunless %}

    {% paginate products from products.current by theme.products_per_page %}
      {% if products != blank %}
        <ul class="products_list">
          {% for product in products %}
          <li class="product">
            <a href="{{ product.url }}">
              <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: '900' }}">
              <b>{{ product.name }}</b>
              <i>{{ product.default_price | money_with_sign }}</i>
              {% if product.on_sale %}
                <em>On Sale</em>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>

        {% if paginate.pages > 1 %}
          <div class="pagination" id="pagination">
            <div class="desktop">
              {% for i in (1..paginate.pages) %}
                {% if i == paginate.current_page %}
                  <span class="current">{{ i }}</span>
                {% else %}
                  <a href="{{ page.url }}?page={{ i }}">{{ i }}</a>
                {% endif %}
              {% endfor %}
            </div>
            <div class="mobile">
              {% if paginate.previous.is_link %}
                <a href="{{ paginate.previous.url }}" class="prev">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10.001px" height="6px" viewBox="0 0 10.001 6" xml:space="preserve"><path class="down_arrow" d="M9.852 1.537c0.199-0.189 0.199-0.496 0-0.684L9.135 0.17C8.938-0.02 8.617-0.02 8.4 0.17L5.016 3.5 L1.582 0.143c-0.199-0.189-0.52-0.189-0.717 0L0.148 0.826c-0.197 0.188-0.197 0.5 0 0.684l4.508 4.3 c0.199 0.2 0.5 0.2 0.7 0L9.852 1.537z"/></svg>
                  Prev
                </a>
              {% endif %}
              {% if paginate.next.is_link %}
                <a href="{{ paginate.next.url }}" class="next">
                  Next
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10.001px" height="6px" viewBox="0 0 10.001 6" xml:space="preserve"><path class="down_arrow" d="M9.852 1.537c0.199-0.189 0.199-0.496 0-0.684L9.135 0.17C8.938-0.02 8.617-0.02 8.4 0.17L5.016 3.5 L1.582 0.143c-0.199-0.189-0.52-0.189-0.717 0L0.148 0.826c-0.197 0.188-0.197 0.5 0 0.684l4.508 4.3 c0.199 0.2 0.5 0.2 0.7 0L9.852 1.537z"/></svg>
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}


      {% else %}
        <p class="no_results">No products found.</p>
      {% endif %}
    {% endpaginate %}

  {% else %}

    <!-- Collections -->
    {% if categories.active != blank %}
      <ul class="products_list collections">
        {% for category in categories.active %}
          <li class="product">
            <a href="{{ category.url }}">
              {% for product in category.products limit:1 %}
                <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: '900' }}">
              {% endfor %}
              <b>{{ category.name }}</b>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no_results">No collections found.</p>
    {% endif %}
  {% endif %}
</section>
